* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


/* section{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:center;
    text-align: center;
    font-size: 2rem;
    color: white; 
    border: 5px solid blue;
    height: 100vh;
    gap: 10px;
    flex-wrap: wrap;
} */

section div {
    background-color: brown;
    padding: 100px;

}
/* div:nth-child(1) {flex-grow: 1;}
div:nth-child(2) {flex-grow: 4;}
div:nth-child(3) {flex-grow: 1;} */






/* GRID LAYOUT STYLINGS */

.grid-container {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
    gap: 10px;
    font-size: 2rem;
    color: white; 
    /* border: 5px solid blue; */
}

div:first-child {
    background: green;
    
}

div:nth-child(2) {
   
    background-color: black;
}








/* 
body {
    background-image: url("https://res.cloudinary.com/dci1eujqw/image/upload/v1616769558/Codepen/waldemar-brandt-aThdSdgx0YM-unsplash_cnq4sb.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    box-shadow: 0 0 5px rgb(69, 69, 69);
}

form {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #E9E9E9;
    padding: 30px;
    gap:15px;

}

input, button {
    padding: 10px;
    border: 0;
}

div:first-child {
    background-image: url("https://res.cloudinary.com/dci1eujqw/image/upload/v1616769558/Codepen/waldemar-brandt-aThdSdgx0YM-unsplash_cnq4sb.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18vw;
}

a, button {
    text-decoration: none;
    background-color: #00829A;
    padding: 10px 20px;
    border-radius: 15px;
    color: white;
    font-size: 12px;
} */